:root {
    --header: #272733;
    --light: #efdfef;
    --main: #8b5df7; 
    --accent1: #d85df7;
    --accent2: #f78b5d;
    margin: 0;
    padding: 0;
    background: var(--main);
    /*box-sizing: border-box;*/
}

body {
    margin: 0;
}


.container {
    background: var(--header);
    color: var(--main);
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
    max-width: 600px;
}

.bar {
    height: 111px;
    flex-grow: 1;
    background: var(--header);
}

header h1, header p {
    width: 100%;
    margin: 1px 0;
    text-align: center;
}

header p {
    font-size: 1em;
}

header h1 {
    margin-bottom: 5px;
    font-size: 2em;
}

header {
    position: sticky;
    height: 110px;
}

nav {
    display: block;
    width: 20%;
    margin: 0px auto;
    padding: 3px;
    max-width: 350px;
    max-height: 29px;
}

nav button {
    width: 100%;
    height: 30px;
    border-radius: 6% / 15px;
    font-size: 60px;
    border: 2px solid var(--accent1);
    color: var(--header);
    background: var(--light);
    position: relative;
    margin-bottom: 5px;
} 

.elipsis {
    width: 40px;
    max-height: 10px;
    max-width: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    background: var(--header);
    border-radius: 40%;
    max-width: 10px;
    max-height: 10px;
}

nav button:hover {
    cursor: pointer;
    background: var(--light);
}

.btn span { 
    position: absolute; 
    border-radius: 50%; 
    /* To make it round */
    background-color: rgba(0, 0, 0, 0.3); 
  
    width: 100px; 
    height: 100px; 
    margin-top: -50px; 
    /* for positioning */
    margin-left: -50px; 
  
    animation: ripple 1s forwards; 
    opacity: 0;
    z-index: 2; 
} 

main {
    width: 100%;
    height: 100%;
    background: var(--main);
}

article {
    width: auto;
    flex-grow: 1;
    height: 100%;
}



.sidedeco {
    width: 7px;
    background: var(--accent1);
    border-radius: 40% / 5px;
    margin: 8px;
    position: relative;
    z-index: 3;
    opacity: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

footer {
    width: calc(100% -1px);
    height: fit-content;
    background: var(--header);
    border: 1px solid white;
    padding: .5em 0 ;
    max-height: 30px;
}

footer ul {
    color: var(--light);
    height: 50%;
    display: flex;
    gap: 6%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

li {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-size: 13px;
}
 
.pop {
    color: black;
}

.focus p {
    color: black;
}
