:root {
    --header: #272733;
    --light: #efdfef;
    --main: #8b5df7; 
    --accent1: #d85df7;
    --accent2: #f78b5d;
    margin: 0;
    padding: 0;
    background: var(--main)
}

* {
    margin: 0;
}


.container {
    background: var(--header);
    color: var(--main);
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 700px;
}

.sides {
    display: flex
}

.bar {
    height: 130px;
    flex-grow: 1;
    background: var(--header);
}

header h1, header p {
    width: 100%;
    padding: 0 0.2rem;
    margin: 0 0;
    text-align: center;
}

header p {
    font-size: 1em;
}

header h1 {
    margin-bottom: 0px;
    font-size: 2em;
}

header {
    height: 130px;
}

nav {
    display: block;
    width: 80%;
    margin: .5rem auto;
    max-width: 350px;
}

nav button {
    width: 100%;
    height: 2.5rem;
    border-radius: 6% / 15px;
    font-size: 2em;
    border: 2px solid var(--accent1);
    color: var(--header);
    background: var(--light)
} 

nav button p {
    margin-top: -5px;
}


nav button:hover {
    cursor: pointer;
    background: var(--light);
    position: relative;  
    box-shadow: 6px 7px 40px -4px 
            rgba(0, 0, 0, 0.2); 
}

.btn span { 
    position: absolute; 
    border-radius: 50%; 
    /* To make it round */
    background-color: rgba(0, 0, 0, 0.3); 
  
    width: 100px; 
    height: 100px; 
    margin-top: -50px; 
    /* for positioning */
    margin-left: -50px; 
  
    animation: ripple 1s forwards; 
    opacity: 0; 
} 

main {
    width: 100%;
    height: 100%;
    background: var(--main)
}